<div class="row">
	<div class="btn btn-primary col-xs-6" ng-model="query.learned" btn-radio="false">Needs Learning</div>
	<div class="btn btn-primary col-xs-6" ng-model="query.learned" btn-radio="true">Learned</div>
</div>

<div class="container">
	<form class="form-inline form-filters">
        <input type="text" ng-model="query.$" placeholder="Filter by anything" class="input-medium">
        <select ng-model="orderProp.$" class="input-small pull-right">
			<option value="-created_at">Newest</option>
			<option value="created_at">Oldest</option>
			<option value="name">Alphabetical</option>
		</select>
  </form>
</div><!-- .container -->

<div class="container">
	<ul class="list-unstyled">
		<li lined-item ng-hide="query.learned" class="text-center">
			<a href="#/search" class="add-word btn btn-block-level btn-secondary">Add a word</a>
		</li>
		<li lined-item ng-repeat="word in words | orderBy:orderProp.$ | filter:query">			
				<swipe>
					<div>
						<a href="#/words/{{word.id}}" class="link-cell">
							<h4 class="title">{{word.name | capitalize}} <small>( {{word.part_of_speech}} )</small></h4>
							<p>{{word.definition}}</p>
						</a>
					</div>
					<div>
						<div class="padding-wrapper" v-center>
							<div class="btn" ng-click="toggleLearned(word)">{{learnedText}}</div>
							<div class="btn" ng-click="remove(word)">Delete</div>
						</div>
					</div>
				</swipe>
		</li>
	</ul>
</div>