<div class="container content">
<div ng-show="word">
	<h2>{{word.name | capitalize}} <small>({{word.part_of_speech}})</small></h2>
	<p>{{word.definition}}</p>
	<hr>
	<ul class="list-unstyled">
		<li lined-items><strong>Hyphenation</strong>: <span ng-bind-html-unsafe="word.hyphenation"></span></li>
		<li lined-items><strong>Synonyms</strong>: {{word.synonyms}}</li>
		<li lined-items><strong>Phrases</strong>: {{word.phrases}}</li>
		<li lined-items><strong>Date added</strong>: {{word.created_at | date:"M/dd/yy"}}</li>
		<li lined-items><strong>Date learned</strong>: {{dateLearned | date:"M/dd/yy"}}</li>
	</ul>
	<hr>
	<div class="btn" ng-click="toggleLearned(word)">{{learnedText}}</div>
	<div class="btn" ng-click="remove(word)">Delete</div>
</div>
<div ng-hide="word">
	<h1>Word not saved</h1>
</div>
</div>